---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<Layout
	title="Portfolio de Jose Vicente - Desarrollador y Programador Web con 5 años de experiencia"
	description=""
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero />
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="experiencia">
				<SectionTitle title="Experiencia laboral" subtitle="He aportado mi granito de arena y experiencia en:" />
				<Experience />
			</SectionContainer>

			<SectionContainer id="proyectos">
				<SectionTitle title="Proyectos" subtitle="Algunos proyectos que he ido haciendo" />
				<Projects />
			</SectionContainer>

			<SectionContainer id="sobre-mi">
				<SectionTitle title="Sobre mi" subtitle="Todos tenemos una historia de ¿Cómo empezaste en la programación? Esta es la mía" />
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>
