---

---

<div class="relative">
    <div class="select-none absolute z-10 bg-red-100 text-red-800 text-[10px]  me-2 px-2 py-0 rounded-full dark:bg-red-700 dark:text-red-200 font-semibold">
        PRONTO
    </div>
    <div class="relative opacity-25 pointer-events-none select-none">
        <slot />
    </div>
</div>
